/QPV DLL source code/.vs
/QPV DLL source code/includes
/QPV DLL source code/x64
seenImagesList*.*
quick-picto-viewer*.ini
resources/vector-shapes/__-*
resources/vector-shapes/_previous_huge_path*
_to-do-qpv.txt
Ahk2Exe-new-v1-1-33.lnk
/qpv-for-x64
quick-picto-viewer.exe
quick-picto-viewer-compiled.zip
/thumbs-cache
