/QPV DLL source code/.vs
/QPV DLL source code/includes
/QPV DLL source code/x64
seenImagesList.db
quick-picto-viewer-custom-kbd.ini
quick-picto-viewer-favourites.ini
quick-picto-viewer-folder-faves.ini
quick-picto-viewer-minifaves.ini
quick-picto-viewer-recents.ini
quick-picto-viewer.ini
resources/vector-shapes/_previous_huge_path.vqpv
resources/vector-shapes/noise-noise-360k.vqpv
resources/vector-shapes/noise-noise.vqpv
resources/vector-shapes/wehastevawert.vqpv
resources/vector-shapes/whateva2.vqpv
resources/vector-shapes/whatevera1-the-guest.vqpv
resources/vector-shapes/whatevera1.vqpv
seenImagesList.db-journal
_to-do-qpv.txt
Ahk2Exe-new-v1-1-33.lnk
/qpv-for-x64
quick-picto-viewer.exe
quick-picto-viewer-compiled.zip
